{% extends "layout.njk" %}
{%block head%}
  <title> PortFolio </title>
 {% endblock %}
 
{% block content %}
  <div id="wrapper">
    <h1>Aulas</h1>
  </div>
  <section class="cards">

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem1.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem3.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem4.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem1.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem3.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>

    <div class="card" id="jbAh5R8CH_o">
      <div class="card_image-container">
        <img src="./images/imagem4.jpg" alt="Imagem do curso javascript">
      </div>

      <div class="card_content">
        <p>Formulário animado com JS puro e Animation | kel kel</p>
      </div>

      <div class="card_info">
        <p>57 min</p>
        <p class="card_price"> Free </p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>
      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <div style="margin: 30px;" id="links-footer" class="links">
    <a href="#">Facebook</a>
    <a href="#">Twitter</a>
    <a href="#">Instagram</a>
  </div>

  <script src="/scripts/modal.js"></script>
 {% endblock %}